.container {  display: grid;
    grid-template-columns: 1.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-auto-rows: 400px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "banner banner banner banner banner banner banner banner banner"
      "banner banner banner banner banner banner banner banner banner";
  }
  
  .banner { 
    grid-area: banner;
  background-image: url('../resources/logo.jpg');
 }
  